<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Project Private Events" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Tailwind (aus tailwindcss-rails) -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <!-- eigenes CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Boxicons CDN -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <%= yield :head %>

    <%= javascript_importmap_tags %>
  </head>


  <body>
    <div>
      <%= render "shared/header_bar" %>
    </div>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    <main class="relative flex flex-col w-full bg-gray-400">

      <%= yield %>


    </main>
  </body>
</html>
